<% provide(:title, 'All Requests') %>
<h1>All Requests</h1>

<%= will_paginate %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Email Id</th>
      <th>Request Type</th>
      <th>Phone Number</th>
      <th>Schedule Date</th>
      <th>Schedule Time</th>
      <th>Delete</th>
    </tr>
  </thead>
  <% @requests.each do |request| %>
  <tbody>
  	 <tr>
  	 	<th scope="row"><%=request.id%></th>
  	    <td><%= request.email %></td>
  	    <td><%= request.request_type %></td>
  	    <td><%= request.phone %></td>
  	    <td><%= request.day %></td>
  	    <td><%= request.time %></td>
  	    <td> <%= link_to "delete", request, method: :delete,
                                  data: { confirm: "You sure?" } %> </td>
      </tr>
   </tbody>
   <% end %>
</table>

<%= will_paginate %>