<% provide(:title, 'Submit Request') %>
<div class="jumbotron banner-bg2" >
<h1>Select and Submit Request</h1>

<div class="container">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@request) do |f| %>
      <%= render 'shared/request_error_messages' %>

      <%= f.label :Email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :Request %>
      <%= f.select :request_type, grouped_options_for_select({'Electric' => ['Fans', 'Wiring', 'Switches, Meters or Fuses', 'Lights',         'Inverter', 'Other'],'Plumbing' => ['Tap, Basin or Sink','Toilet and Sanitary','Bathroom Fittings', 'Blocks and Leakeges', 'Water Tank', 'Pipes and Pumps', 'Others'], 'Appliance repair' => ['AC', 'Refrigerator', 'Washing Machine', 'Microwave', 'TV', 'Geyser'], 'Computer' => ['Hardware', 'Software', 'Printer', 'Network']}), include_blank: false, prompt: "Select Request", class: 'form-control' %>

      <%= f.label :Phone %>
      <%= f.telephone_field :phone, class: 'form-control' %>

      <%= f.label :Select_Date %>
      <%= f.date_field :day, class: 'form-control' %>

      <%= f.label :Select_Time %>
      <%= f.time_field :time, class: 'form-control' %>

      <%= f.submit "Submit request", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>
</div>

