    <!-- Navigation -->  
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>Home Services</a>
            </li>            
            <li><%= link_to "Home",    root_path%></li>
            <li><%= link_to "Help",    help_path %></li>
             <% if logged_in?  %>
                <% if current_user.admin? %>
                    <li><%= link_to "Users", users_path %></li>
                    <li><%= link_to "Requests", requests_path %></li>
                <%end%>
                <li class="dropdown ">
                <a href="#" class="dropdown-toggle head" data-toggle="dropdown">
                Account <b class="caret "></b>
                </a>
                <ul class="dropdown-menu">
                    <li><%= link_to "Profile", current_user %></li>
                    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                    <li class="divider"></li>
                    <li>
                        <%= link_to "Log out", logout_path, method: "delete" %>
                    </li>
                </ul>
                </li>
             <% else %>
                <li><%= link_to "LogIn", login_path %></li>
                <li><%= link_to "SignUp", signup_path %></li>
             <% end %>
        </ul>
    </nav>


